html,
body {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url(header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  text-align: right;
}
.header h1 {
  color: white;
  margin: 0;
  padding-right: 20px;
  padding-top: 20px;
}
.header ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.header li {
  list-style: none;
  padding: 0 10px;
}
.allstores {
  background-color: #012E4B;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.aStore {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.8);
  color: #012E4B;
  list-style: none;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  transition: .3s;
  width: 45%;
}
.aStore a {
  color: #012E4B;
}
.aStore h1 {
  color: #012E4B;
  cursor: pointer;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
